<!--<h1>Desire Vargas</h1-->

    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta  charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Account Management|CSE 340 App</title>
   <meta name="author" content="Desire Vargas" />
   <link rel="icon" type="image/png" href="/public/images/site/icon.png" />

    <!-- Stylesheets -->

  <link rel="stylesheet" href="/css/styles.css" media="screen" />
  <link rel="stylesheet" href="/css/inventory-styles.css" media="screen" />
</head>
   
<body>
    <div id="wrapper">
        <header id="top-header">
    <span class="siteName">
      <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
       
        <a href="/account/" title="Welcome">Welcome Benita</a>
        <a href="/account/logout" title="Click to log out">Logout</a>
      
    </div>
  </header>
        <nav><ul><li><a href="/" title="Home page">Home</a></li><li><a href="/inv/type/1" title="See our inventory of Custom vehicles">Custom</a></li><li><a href="/inv/type/5" title="See our inventory of Sedan vehicles">Sedan</a></li><li><a href="/inv/type/2" title="See our inventory of Sport vehicles">Sport</a></li><li><a href="/inv/type/3" title="See our inventory of SUV vehicles">SUV</a></li><li><a href="/inv/type/4" title="See our inventory of Truck vehicles">Truck</a></li></ul></nav>

        <main>
            <h1>Account Management</h1>





<div class="management-container">
  <h2>Welcome Benita</h2>
  <p><a href="/account/update/4">Update Account Information</a></p>

  <h3>Favorites</h3>
  
    <p>You have no favorite vehicles yet.</p>
  

  
</div>
        </main>

        
<footer>
  <p class="copyright">&copy; 2025, CSE 340 App</p>
  <a href="/error">Error Link</a>
</footer>
    </div>
</body>